# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Secrets
.env
.env.*

# Databases (cloud DB used instead)
*.db
*.sqlite
*.sqlite3

# Dev/Test files
notebooks/
backend/scratch/
test_haryanasarthi.db
DEVLOG.md

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode/
.idea/
