# Environments
.env
.env.*

# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache & Builds
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/

# Databases & Storage
*.db
*.sqlite
*.sqlite3

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
